/*
Program Name: MIS3371.css
Author: Faviana A Duran 
Date Created: February 10,2026
Data Last Edited: February 20, 2026
Version: 1.0
Description: this will be used to style the html and website that is created for a patient registration form
*/
body {
  background-color: #92a8d1;
  font-family: "Times New Roman", Times, serif;
  text-align: left;
}
h1 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
h2 {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
a:visited {
  color: red;
}
.center {
 align: center;
}
